table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
}


table tr:nth-child(odd){
    background-color:red ;
}

table tr:nth-child(even){
    background-color:rgb(0, 249, 75) ;
}


table td:nth-child(odd){
    background-color:blue ;
}